html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

progress {
  width: calc(100% - 5em);
  max-width: 500px;
}

progress:not([max]) {
  display: none;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  border: 1px solid black;
  min-height: 1.2em;
  line-height: 1.2em;
  padding: 0.5em;
}

#errorOutput {
  color: red;
  border: none;
}

#errorOutput::before {
  content: 'Error: ';
}

#errorOutput:empty {
  display: none;
}
